/**base**/
html { background-color: white; height: 100%;}
body {width: 90%; margin: auto; justify-content: center; border: 1px solid black;}

/**reset*/
h2 { margin-top: 0px;}

/** organisation page**/
.flexFunction { display: flex; flex-wrap: wrap; justify-content: space-between;}
.leftPart { min-width: 210px;width: 20%; text-align: center;}
.rightPart { width: 75%;}


header {height: 30%;}
main { height: 70%;}

/** color **/
.backPrimary {background-color: #FFB330;}
.colorPrimary { color: #FFB330;}
.backTitle { background-color: black; margin: 2px 2px 2px 2px;}
span.name1 { color: #FFB330;}
.icon {color: #FFB330;}
#idImg {border-radius: 2px solid white; }
/** Right Part**/
article { display: flex; flex-wrap: wrap; width: 100%;}
.title { text-decoration: underline; text-decoration-color: #FFB330;}
.date { margin-right: 50px;}

@media screen and (max-width: 600px) {
header , main {
    flex-direction: column;
    }
}