/**base**/
html { background-color: #ffffff; height: 100%;}
body {width: 99%; margin: auto; justify-content: center; }

/**reset*/
h2 { margin-top: 0px;}

/**Font CMD**/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
* {font-family: 'Work Sans', sans-serif;}
/** organisation page**/
.flexFunction { display: flex; flex-wrap: wrap; justify-content: space-between;}
.leftPart { min-width: 210px;width: 20%; text-align: center;}
.rightPart { width: 75%;}


header {height: 30%;}
main { height: 70%;}

/** color **/
.backPrimary {background-color: #feca07;}
.colorPrimary { color: #feca07;}
.backTitle { background-color: #404040; margin: 2px auto 2px auto;}
span.name1 { color: #feca07;}
.icon {color: #feca07;}
/**Left Part**/
#idImg {border-radius: 100px; box-shadow: 2px 2px 5px black; text-align: center; min-width: 210px;}
.leftPart h3 { text-align: justify; margin: 5% 0;}
.leftPart .contact { text-align: justify; margin: 10%;}

/**Footer Part**/
footer {margin-bottom: -10px;}
.recom {display: flex; flex-wrap: wrap; justify-content: space-between; margin-right: 20%;}
.fun { font-size: 30px; border-radius: 50px; border-style: solid; border-color: #404040; color: #404040; width: 50px; height: 40px; margin: 0 auto; padding: 10px;}
/** Right Part**/
.ul { display: flex; width: 90%;}
.li {min-width: 200px;}
.ul > div {display: block;}
.titleUnderline { text-underline-position: under; text-decoration: underline; text-decoration-color: #feca07; margin-top: 15px;}
.contactContent { margin: 20px; text-align: justify;}
.mytext { margin: 20px; text-align: justify;}
.date { margin-right: 50px;}
.puce::before { content: "•"; color:#feca07; width: 2em; margin-right: 0.5em;}
.puceRecent::before { content:url(../img/pucette.png); color: #feca07; width: 2em; margin-right: 0.5em;}
.rightPart h2 { max-width: 95%; border-bottom: 2px solid #feca07;}



@media only screen and (max-width: 850px) {
    body {
        width: 100%;
        flex-direction: column;
    }
    header {
        display: flex;
    }
    .iD {
        width: 100%;
    }
    #name {
        min-width: 30%;
    }
    main .rightPart {
        
        width: 100%;
    }
    footer .rightPart {
        
        width: 100%;
    }
    main .leftPart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    main .leftPart > div {
        width: 50%;
    }
    footer .leftPart {
        width: 100%;
    }
    /*Order for ipad*/
    div#idImg   {order: 1;}
    div#name  {order: 2;}
    div#about {order: 4;}
    div#contentExp  {order: 3; padding: 10px;}
    div#hobby   {order: 4;}
    div#recomm  {order: 5; padding: 10px;}
}
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        flex-direction: column;
        
    }
    header {
        display: flex;
        
    }
    #iD { 
        flex-direction: row;
    }
    #name {
        min-width: 100%;
        
    }
    
    .ul { margin: auto;}
    .li { min-width: 150px;}
    .date { margin-right: 10px;}
    main .leftPart h2 { height: 50px; padding-top: 10px; padding-bottom: 10px;}
    main .rightPart {
        
        width: 100%;
    }
    footer .rightPart {
        
        width: 100%;
    }
    
    main .leftPart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    main .leftPart > div {
        width: 50%;
    }
    footer .leftPart {
        width: 100%;
    }
    /*Order for ipad*/
    div#idImg   {order: 1;}
    div#name  {order: 2;}
    div#about {order: 4;}
    div#contentExp  {order: 3;}
    div#hobby   {order: 4;}
    div#recomm  {order: 5;}
}